/* ul.menu{text-align: center; background: #ff0;}

#tabla thead{
    display:table-header-group;
    vertical-align: middle;
    border-color: inherit;

}
#tabla .tablita{
    position: relative;
    margin: 0;
    font-weight:700;
}
#tabla .igual{
    position: relative;
    padding: 20px;
    margin:10px;
    font-size:1.2em;
    font-weight: 700;
    text-align: center;
    background-color: #fafafa;
    
    }
  


        .titulo{
            display:table-cell;
            width: 100%;
            padding: 10px 25px;
            text-align: left;
            text-transform: uppercase;
            font-size: 1.125rem;
            letter-spacing: 1.7px;
        } 









#tabla .total{

} */
.copyr

footer a span {
color: black;
}
ul.menu{
    background-color: #fafafa;
}

footer {
    background-color: #fafafa;
}
.container-fluid ul li a{
    color: black;
}


.table{
    background-color: #fafafa;
    font-family: 'Baloo 2', cursive;
}

.bolsos{
    background-color: white;
}

.copyright{
    color:#fafafa;
    background-color: black;
}

a{
    color:black
}



